
.card {
	position: relative;
	width: 240px; /* 2.5in */
	height: 336px; /* 3.5in */
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	overflow: hidden;
	text-align: left;
	font-size: 20pt;
	/* TODO: look at fonts and pick one  */
	font-family: monospace;
	border-radius: 0.1in;
	border: 5px solid white;
	background-color: #212121;
	color: white;
}
.card.back {
	/* FIXME: asymmetrical */
	background: repeating-linear-gradient(
		45deg,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 10px,
		rgba(0, 0, 0, 0.5) 10px,
		rgba(0, 0, 0, 0.5) 20px
	);
	background-color: #333;
}


.duochrome .heart,
.duochrome .diamond,
.quadrichrome .heart {
	color: #f44336;
}
.quadrichrome .diamond {
	color: #2196F3;
}
.quadrichrome .club {
	color: #4caf50;
}
.quadrichrome .spade {
	color: #eeeeee;
}

.header {
	padding: 3mm;
	position: relative;
}
.bottom.header {
	transform: rotate(0.5turn);
}
.face-card .header {
	background: currentColor;
}
.face-card .header * {
	color: #212121;
	position: absolute;
}
.face-card .header::before {
	content: "";
	position: absolute;
	width: 140px;
	height: 140px;
	background: currentColor;
	transform: translate(-50%, -50%) translate(-10px, 0) rotate(-0.125turn);
	transform-origin: center center;
}

.center {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	align-self: center;
	position: relative;
}
.center::before {
	content: "{";
	position: absolute;
	right: calc(130% + 28px);
}
.center::after {
	content: "}";
	position: absolute;
	left: 130%;
}
.pip-row:not(:last-child)::after {
	content: ",";
	display: inline-block;
	width: 0;
}
.center::before,
.center::after {
	font-size: 40pt;
	width: 0;
	height: 0;
	line-height: 0;
}

.ace .center {
	font-size: 60pt;
}
.two .center {
	font-size: 35pt;
}

